
<div class="card m-3">
    <h5 class="card-header">{{questionniare}}</h5>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div *ngFor="let question in questionnaire.questions">
                        <template #ShowQuestionCheckBox> </template>
                        <template #ShowQuestionDateTime> </template>
                        <template #ShowQuestionInput> </template>
                        <template #ShowQuestionRadioBtn> </template>
                        <template #ShowQuestionSelect> </template>
                    </div>
                </div>
            </form>
        </div>
</div>
