<div class="container shadow-lg p-3 mb-5 bg-white rounded ">
    <mat-tab-group>
        <mat-tab label="Statistiques par filtre">
            <div *ngFor="let data of dataSource">
            <mat-accordion >
                <mat-expansion-panel class="shadow-sm p-3 mb-5 bg-white rounded" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{data.filter}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Question : {{data.question}}
                            <br/>
                            Critère de filtrage : {{data.questionFilter}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-pie-chart [dataS]=data></app-pie-chart>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        </mat-tab>
        <mat-tab label="Statistiques globales">
            <div *ngFor="let data of dataSourceGlobal">
                <mat-accordion >
                    <mat-expansion-panel class="shadow-sm p-3 mb-5 bg-white rounded">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{data.question}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-doughnut-chart [dataS]=data></app-doughnut-chart>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="row m-2" id="espace">
        <div class="col-9">
            <label>Export des statistiques par filtre </label>
        </div>
        <div class="col-3">
            <button class="btn btn-primary float-right"(click)="exportFilter()" >Export stats filtre CSV</button>
        </div>
    </div>
    <div class="row m-2" id="espace">
        <div class="col-9">
            <label>Export des statistiques globales</label>
        </div>
        <div class="col-3">
            <button class="btn btn-primary float-right"(click)="exportStatGlobal()" >Export stats globales CSV</button>
        </div>
    </div>
    <div class="row m-2" id="espace">
        <div class="col-9">
            <label>Export de l'ensemble des réponses du questionnaire</label>
        </div>
        <div class="col-3">
            <button class="btn btn-primary float-right"(click)="exportGlobal()" >Export complet CSV</button>
        </div>
    </div>
    <div class="row m-2" id="espace">
        <div class="col-9">
            <label>Impression des graphiques</label>
        </div>
        <div class="col-3">
            <button class="btn btn-primary float-right"(click)="print()" >Imprimer</button>
        </div>
    </div>
    <div class="row mx-2" id="espace">
        <div class="col-9">
            <label style = "color: grey"> NB: l'impression des graphes est personnalisable selon l'onglet sélectionné et les sections dépliées.
                Veuillez déplier les sections de votre choix afin de faire apparaitre les graphes sur le document PDF.</label>
        </div>
    </div>
</div>
