<ng-container [ngSwitch]="question?.type" >
    <h3>{{question?.titre}}</h3><br/>
    <div *ngSwitchCase="'check'" class="container border rounded border-info p-4">
        <div *ngFor="let proposition of propositions">
            <br/>
            <mat-checkbox>{{proposition.libelle}}</mat-checkbox>
        </div>
    </div>
    <div *ngSwitchCase="'radio'" class="container border rounded border-info p-4">
        <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="chosenResponse">
            <div *ngFor="let proposition of propositions">
                <mat-radio-button class="example-radio-button">{{proposition.libelle}}</mat-radio-button><br/>
            </div>
            <br/>
        </mat-radio-group>
    </div>
    <div *ngSwitchCase="'select'" class="container border rounded border-info p-4">
        <mat-form-field class="w-50">
            <mat-label>Choisissez une valeur</mat-label>
            <mat-select class="text-center" matNativeControl required>
                <div *ngFor="let proposition of propositions">
                    <mat-option value="{{proposition.libelle}}">{{proposition.libelle}}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'date'" class="container border rounded border-info p-4">
        <mat-form-field>
            <mat-label>Choisissez une date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'input'" class="container border rounded border-info p-4">
        <mat-form-field class="w-100" >
            <mat-label>Veuillez saisir votre réponse</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>

</ng-container>
<br/>
<button [hidden]="!apercuQuestion" class="btn btn-secondary float-right" [routerLink]="['/edit-questionnaire', idQuestionnaire]">Retour au questionnaire</button>
