
<form >
  <div class="form-group">
    <mat-form-field MatFormFieldControl >
      <mat-label>Saisissez le texte de la question...</mat-label>
      <input matInput >
    </mat-form-field>
  </div>
  <div class="form-group ">
  <mat-label>Saisissez les réponses possibles :</mat-label>
  <mat-form-field MatFormFieldControl>
    <input matInput placeholder="Réponse 1">
  </mat-form-field>
  <mat-form-field MatFormFieldControl>
    <input matInput placeholder="Réponse 2">
  </mat-form-field>
  <mat-form-field MatFormFieldControl>
    <input matInput placeholder="Réponse 3">
  </mat-form-field>
  </div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
       </div>
    </div>
  </div>
</form>
