<div class="container shadow-lg p-3 mb-5 bg-white rounded ">
    <h3>Informations du questionnaire</h3>
    <form class="m-3" [formGroup]="questionnaireForm" >
        <div class="form-group ">
            <label>Titre</label>
            <input type="text" formControlName="titre" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.titre.errors } " placeholder="{{questionnaire?.titre}}"/>
            <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
                <div *ngIf="f.titre.errors.required">Veuillez renseigner un titre</div>
            </div>
        </div>
        <div class="form-group ">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.description.errors } " placeholder="{{questionnaire?.description}}"/>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Veuillez renseigner une description</div>
            </div>
        </div>
        <div class="form-group ">
            <label>Message de remerciement</label>
            <input type="text" formControlName="remerciement" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.remerciement.errors } " placeholder="{{questionnaire?.remerciement}}"/>
            <div *ngIf="submitted && f.remerciement.errors" class="invalid-feedback">
                <div *ngIf="f.remerciement.errors.required">Veuillez renseigner un message de remerciement</div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>Choisissez une date limite de réponse au questionnaire</label><br/>
            <input matInput formControlName="datePeremption" placeholder="{{this.dateLimite}}" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div *ngIf="submitted && questionnaireForm.errors?.before" class="before-error">Veuillez saisir une date supérieure à la date du jour</div>
        </div>
        <br/>
        <div class="form-group">
            <mat-slide-toggle
                    class="example-margin"
                    formControlName="anonymous"
                    checked="{{questionnaire?.anonymous}}">
                Questionnaire anonyme
            </mat-slide-toggle>
        </div>
        <div class="form-group text-center">
            <button (click)="onNewQuestionnaire()" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Valider les informations
            </button>
        </div>
    </form>
</div>
<div *ngIf="modification" class="container shadow-lg p-3 mb-5 bg-white rounded">
    <h3>Liste des questions</h3>
    <ul class="list-group">
        <div *ngFor="let question of questions; let i = index" class="list-group-item m-3 rounded border">
            <div *ngIf="nbParticipants === 0" class="zero-border" [routerLink]="['/edit-question',idQuestionnaire, question.id]">
                <div>Question : {{question.valeur}}</div>
                <div>Type : {{getRealType(question.typeQuestion)}}</div>
                <div *ngIf="question.isRequired">Question obligatoire</div>
                <div *ngIf="question.isFilter">Question de filtrage</div>
                <div *ngIf="question.hasGraph">Présent dans la page de synthèse</div>
            </div>
            <div *ngIf="nbParticipants > 0">
                <div>Question : {{question.valeur}}</div>
                <div>Type : {{getRealType(question.typeQuestion)}}</div>
                <div *ngIf="question.isRequired">Question obligatoire</div>
                <div *ngIf="question.isFilter">Question de filtrage</div>
                <div *ngIf="question.hasGraph">Présent dans la page de synthèse</div>
            </div>
            <div class="float-right ">
                <button class="mx-2"
                        [disabled]="i === 0" (click)="up(i)"
                        mat-button mat-raised-button
                        #tooltip="matTooltip"
                        matTooltip="Déplacer la question vers le haut .">
                    <mat-icon>arrow_upward</mat-icon> </button>
                <button class="mx-2"
                        [disabled]="i === questions.length - 1" (click)="down(i)"
                        mat-button mat-raised-button
                        #tooltip="matTooltip"
                        matTooltip="Déplacer la question vers le bas .">
                    <mat-icon>arrow_downward</mat-icon> </button>
                <button class="mx-2"
                        mat-button mat-raised-button
                        color="primary"
                        [routerLink]="['/show-question',idQuestionnaire, question.id]"
                        #tooltip="matTooltip"
                        matTooltip="Afficher la question .">
                    <mat-icon>slideshow</mat-icon> </button>
                <button class="mx-2"
                        [disabled]="nbParticipants > 0"
                        mat-button mat-raised-button color="accent"
                        [routerLink]="['/edit-question',idQuestionnaire, question.id]"
                        #tooltip="matTooltip"
                        matTooltip="Modifier la question .">
                    <mat-icon>update</mat-icon> </button>
                <button class="mx-2"
                        mat-button mat-raised-button color="warn"
                        [routerLink]="['/edit-questionnaire', idQuestionnaire]"
                        (click)="deleteQuestion(question.id)"
                        #tooltip="matTooltip"
                        matTooltip="Supprimer la question.">
                    <mat-icon>delete</mat-icon> </button>
            </div>
        </div>
    </ul>
    <div class="text-center mt-3">
         <button class="btn btn-primary mx-3" [routerLink]="['/edit-question', idQuestionnaire]">
             Nouvelle question
         </button>
    </div>
</div>
<button class="btn btn-secondary float-right mx-3" routerLink="'/'">Retour à l'accueil</button>
