<div mat-dialog-content >
    <div class="container border mb-4 p-3" >
        <form [formGroup]="questionForm" class="container mt-9" >
            <div class="row r">
                <div class="col-11">
                    <div class="form-group ">
                        <label >Saisissez le texte de la question ... </label>
                    </div>
                    <div class="form-group">
                        <mat-form-field MatFormFieldControl  >
                            <input matInput formControlName="labelQuestion" [(ngModel)]="data.libelle" [ngClass]="{ 'is-invalid': qForm.labelQuestion.errors }">
                        </mat-form-field>
                        <div *ngIf="questionForm.controls['labelQuestion'].invalid && (questionForm.controls['labelQuestion'].dirty || questionForm.controls['labelQuestion'].touched)" class="alert alert-danger">
                            <div *ngIf="questionForm.controls['labelQuestion'].errors.required">
                                le texte de la question est obligatoire .
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row r">
                <div class="col-6">
                    <div class="form-group ">
                        <label >Cette question est obligatoire ?</label>
                    </div>
                    <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="estObligatoire" [ngClass]="{ 'is-invalid': qForm.estObligatoire.errors }">
                        <mat-radio-button class="example-radio-button" required *ngFor="let reponse of reponses" [value]="reponse" >
                            {{reponse}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="questionForm.controls['estObligatoire'].invalid && (questionForm.controls['estObligatoire'].dirty || questionForm.controls['estObligatoire'].touched)" class="alert alert-danger">
                        <div *ngIf="questionForm.controls['estObligatoire'].errors.required">
                            Veuillez choisir une réponse .
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <div class="form-group ">
                        <label>Veuillez ajouter les propositions de réponse possibles :</label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <mat-form-field MatFormFieldControl >
                        <input matInput formControlName="proposition1" placeholder="proposition de réponse 1" [ngClass]="{ 'is-invalid': qForm.proposition1.errors }">
                    </mat-form-field>
                    <div *ngIf="questionForm.controls['proposition1'].invalid && (questionForm.controls['proposition1'].dirty || questionForm.controls['proposition1'].touched)" class="alert alert-danger">
                        <div *ngIf="questionForm.controls['proposition1'].errors.required">
                            Chaque question doit contenir au moins deux propositions de réponse .
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <mat-form-field MatFormFieldControl >
                        <input matInput formControlName="proposition2" placeholder="proposition de réponse 2" [ngClass]="{ 'is-invalid': qForm.proposition2.errors }">
                    </mat-form-field>
                    <div *ngIf="questionForm.controls['proposition2'].invalid && (questionForm.controls['proposition2'].dirty || questionForm.controls['proposition2'].touched)" class="alert alert-danger">
                        <div *ngIf="questionForm.controls['proposition2'].errors.required">
                            Chaque question doit contenir au moins deux propositions de réponse .
                        </div>
                    </div>
                </div>
            </div>
            <button  mat-raised-button  mat-mini-fab color="accent"  (click)="addproposition()" *ngIf="!showpropositionForm">
                <mat-icon>add</mat-icon>
            </button>
            <div formArrayName="propositionsArray">
                <div *ngFor="let proposition of propositionsArray.controls; let i = index" [formGroupName]="i">
                    <div class="row justify-content-center border mb-4 p-3">
                        <div class="col-9">
                            <mat-form-field MatFormFieldControl >
                                <input matInput formControlName="valeur" placeholder="proposition de réponse">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <button mat-raised-button  mat-mini-fab color="accent" (click)="removeproposition(i)" *ngIf="!showpropositionForm">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #elseTemplate>
    Sure to delete <b>{{data.libelle}}</b>?
</ng-template>
<div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary"  (click)="doAction() ; openSnackBar(messageSnackBar,'fermer')" >{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Fermer</button>
</div>



