<div [ngSwitch]="question.type">
    <div *ngSwitchCase="'CheckBox'">
        <mat-label>
            {{question.libelle}}
        </mat-label>
        <div *ngFor="let reponse of question.propositions">
            <mat-checkbox>{{reponse}}</mat-checkbox>
        </div>
    </div>
    <div *ngSwitchCase="'dateTimePicker'">
        <mat-form-field>
            <mat-label>{{question.libelle}}</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'Input'">
        <mat-form-field class="example-full-width">
            <mat-label>{{question.libelle}}</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'radioBtn'">
        <label >{{question.libelle}}</label>
        <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="chosenResponse">
            <mat-radio-button class="example-radio-button" *ngFor="let reponse of question.propositions" [value]="reponse">
                {{reponse}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div *ngSwitchCase="'select'">
        <mat-form-field>
            <mat-label>{{question.libelle}}</mat-label>
            <mat-select>
                <mat-option *ngFor="let reponse of question.propositions" [value]="reponse">
                    {{reponse}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ng-template *ngSwitchDefault>default</ng-template>
</div>
