<div class="container border rounded border-info mb-4 p-3">
    <h3>Informations de la question</h3>
    <form class="m-3" [formGroup]="questionForm" >
        <div class="form-group ">
            <label>Question</label>
            <input type="text" formControlName="titre" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.titre.errors } " placeholder="{{question?.titre}}"/>
            <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
                <div *ngIf="f.titre.errors.required">Veuillez renseigner la question</div>
            </div>
        </div>
        <div class="form-group">
            <label>Thème</label>
            <select formControlName="idTheme" class="form-control browser-default custom-select"
                [ngClass]=" { 'is-invalid': submitted && f.idTheme.errors }">
                <option [ngValue]="null" disabled>Choisissez le thème associé à cette question</option>
                <option *ngFor="let theme of themes; let i = index" [ngValue]=i+1>
                    {{ theme }}
                </option>
            </select>
            <div *ngIf="submitted && f.idTheme.errors" class="invalid-feedback">
                <div *ngIf="f.idTheme.errors.required">Veuillez sélectionner un thème</div>
            </div>
        </div>
        <div class="form-group">
            <mat-slide-toggle
                    class="example-margin"
                    formControlName="isRequired"
                    checked="{{question?.isRequired}}">
                Cette question est-elle obligatoire ?
            </mat-slide-toggle>
        </div>
        <div class="form-group">
            <mat-slide-toggle
                    class="example-margin"
                    formControlName="isFilter"
                    checked="{{question?.isFilter}}">
                Cette question doit-elle être utilisée comme filtre dans la synthèse ?
            </mat-slide-toggle>
        </div>
        <div class="form-group">
            <mat-slide-toggle
                    class="example-margin"
                    formControlName="hasGraph"
                    checked="{{question?.hasGraph}}">
                Cette question doit-elle être représentée par un graphe dans la synthèse ?
            </mat-slide-toggle>
        </div>
        <div class="form-group" [ngClass]="{ 'is-invalid': submitted && type===undefined }">
            <label>Type</label><br/>
            <button class="mx-3" [ngClass]="(type==='check')?'button-custom' : ''" mat-raised-button  mat-mini-fab color="accent" (click)="addCheckBox()">
                <mat-icon>check_box</mat-icon>
            </button>
            <button class="mx-3" [ngClass]="(type==='radio')?'button-custom' : ''" mat-raised-button  mat-mini-fab color="accent" (click)="addRadioBtn()">
                <mat-icon>radio_button_checked</mat-icon>
            </button>
            <button class="mx-3" [ngClass]="(type==='select')?'button-custom' : ''" mat-raised-button  mat-mini-fab color="accent" (click)="addSelect()">
                <mat-icon>list</mat-icon>
            </button>
            <button class="mx-3" [ngClass]="(type==='input')?'button-custom' : ''" mat-raised-button  mat-mini-fab color="accent" (click)="addInput()">
                <mat-icon>notes</mat-icon>
            </button>
            <button  class="mx-3" [ngClass]="(type==='date')?'button-custom' : ''" mat-raised-button  mat-mini-fab color="accent" (click)="addDatePicker()">
                <mat-icon>date_range</mat-icon>
            </button>
        </div>
        <div *ngIf="submitted && type===undefined" class="invalid-feedback float-right">
            <div *ngIf="type===undefined">Veuillez sélectionner un type</div><br/>
        </div>
        <div *ngIf="type==='check' || type==='radio' || type==='select'">
            <div>
                <div formArrayName="propositions">
                    <div *ngFor="let proposition of questionForm.controls.propositions.controls; let i = index;">
                        <div class="container border rounded border-info mb-4 pb-4 pt-2 px-4" [formGroupName]="i">
                                <label>Proposition {{i+1}} : </label>
                                <input type="text" class='form-control m-2' formControlName="libelle" placeholder="{{proposition?.value.libelle}}" />
                                <button class="float-right" (click)="removeProposition(i)" mat-raised-button  mat-mini-fab color="warn">
                                    <mat-icon>remove_circle</mat-icon>
                                </button>
                                <br/>
                        </div>
                    </div>
                </div>
                <button class="float-right" (click)="addPropositions('')" mat-raised-button  mat-mini-fab color="primary">
                    <mat-icon>add_circle</mat-icon>
                </button>
                {{this.questionForm.value | json}}
            </div>
        </div>

        <div *ngIf="type==='input'">
            <div class="container border rounded border-info mb-4 pb-4 pt-2 px-4">
                <mat-form-field class="w-100" >
                    <mat-label>Veuillez saisir votre réponse</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="type==='date'">
            <div class="container border rounded border-info mb-4 pb-4 pt-2 px-4">
                <mat-form-field>
                    <mat-label>Choisissez une date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <br/>
        <div class="form-group text-center">
            <button (click)="onNewQuestion()" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Valider les informations
            </button>
        </div>
    </form>
    <br/>
</div>
<button class="btn btn-secondary float-right" (click)="backClicked()">Retour au questionnaire</button>
