<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <h3>Informations de la question</h3>
    <form class="m-3" [formGroup]="questionForm" >
        <div class="form-group ">
            <label>Question</label>
            <input type="text" formControlName="valeur" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.valeur.errors } " placeholder="{{question?.valeur}}"/>
            <div *ngIf="submitted && f.valeur.errors" class="invalid-feedback">
                <div *ngIf="f.valeur.errors.required">Veuillez renseigner la question</div>
            </div>
        </div>
        <div class="form-group">
            <mat-slide-toggle
                    class="example-margin"
                    formControlName="isRequired"
                    checked="{{question?.isRequired}}">
                Cette question est-elle obligatoire ?
            </mat-slide-toggle>
        </div>
        <div class="form-group">
            <mat-slide-toggle
                    class="example-margin"
                    formControlName="isFilter"
                    checked="{{question?.isFilter}}">
                Cette question doit-elle être utilisée comme filtre dans la synthèse ?
            </mat-slide-toggle>
        </div>
        <div class="form-group">
            <mat-slide-toggle
                    class="example-margin"
                    formControlName="hasGraph"
                    checked="{{question?.hasGraph}}">
                Cette question doit-elle être représentée par un graphe dans la synthèse ?
            </mat-slide-toggle>
        </div>
        <div class="form-group" [ngClass]="{ 'is-invalid': submitted && typeQuestion===undefined }">
            <label>Type</label><br/>
            <button class="mx-3"
                    [ngClass]="(typeQuestion==='CHECKBOX')?'button-custom' : ''"
                    mat-raised-button  mat-mini-fab
                    color="accent" (click)="addCheckBox()"
                    #tooltip="matTooltip"
                    matTooltip="Question à choix multiple ">
                <mat-icon>check_box</mat-icon>
            </button>
            <button class="mx-3"
                    [ngClass]="(typeQuestion==='RADIO')?'button-custom' : ''"
                    mat-raised-button  mat-mini-fab
                    color="accent" (click)="addRadioBtn()"
                    #tooltip="matTooltip"
                    matTooltip="Question à choix unique "
                    >
                <mat-icon>radio_button_checked</mat-icon>
            </button>
            <button class="mx-3"
                    [ngClass]="(typeQuestion==='COMBOBOX')?'button-custom' : ''"
                    mat-raised-button  mat-mini-fab color="accent"
                    (click)="addSelect()"
                    #tooltip="matTooltip"
                    matTooltip="Question à choix unique sous format d'une liste de propositions "
                    >
                <mat-icon>list</mat-icon>
            </button>
            <button class="mx-3"
                    [ngClass]="(typeQuestion==='OUVERT')?'button-custom' : ''"
                    mat-raised-button  mat-mini-fab
                    color="accent" (click)="addInput()"
                    #tooltip="matTooltip"
                    matTooltip="Question à réponse libre : texte "
                   >
                <mat-icon>notes</mat-icon>
            </button>
            <button  class="mx-3"
                     [ngClass]="(typeQuestion==='DATE')?'button-custom' : ''"
                     mat-raised-button  mat-mini-fab
                     color="accent" (click)="addDatePicker()"
                     #tooltip="matTooltip"
                     matTooltip="Question à réponse libre : date "
                     >
                <mat-icon>date_range</mat-icon>
            </button>
            <button  class="mx-3"
                     [ngClass]="(typeQuestion==='EVALUATION')?'button-custom' : ''"
                     mat-raised-button  mat-mini-fab color="accent"
                     (click)="addEvaluation()"
                     #tooltip="matTooltip"
                     matTooltip="Question évaluation "
                     >
                <mat-icon>linear_scale</mat-icon>
            </button>
        </div>
        <div *ngIf="submitted && typeQuestion===undefined" class="invalid-feedback float-right">
            <div *ngIf="typeQuestion===undefined">Veuillez sélectionner un type de question</div><br/>
        </div>
        <div *ngIf="typeQuestion==='CHECKBOX' || typeQuestion==='RADIO' || typeQuestion==='COMBOBOX'">
            <div formArrayName="propositions">
                <div *ngFor="let proposition of propositions.controls; let i = index;">
                    <div class="container border rounded border-info mb-2 pt-2 px-4" [formGroupName]="i">
                        <label>Proposition {{i+1}} : </label>
                        <div class="input-group">
                            <input type="text" class='form-control mx-2 ' formControlName="valeur" placeholder="{{proposition?.value.valeur}}"
                                   [ngClass]="{ 'is-invalid': submitted && proposition.get('valeur').errors}"/>
                            <div class="input-group-prepend">
                            <button class="float-right"
                                    (click)="removeProposition(i)"
                                    [disabled]="propositions.length<=2"
                                    mat-raised-button  mat-mini-fab color="warn"
                                    #tooltip="matTooltip"
                                    matTooltip="supprimer">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                        <div *ngIf="submitted && proposition.get('valeur').errors" class="invalid-feedback float-right">
                            <div *ngIf="proposition.get('valeur').errors">Veuillez renseigner une valeur</div><br/>
                        </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <button class="float-right"
                    (click)="addPropositions('')"
                    mat-raised-button  mat-mini-fab color="primary"
                    #tooltip="matTooltip"
                    matTooltip="ajouter ">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>

        <div *ngIf="typeQuestion==='OUVERT'">
            <div class="container border rounded border-info mb-4 pb-4 pt-2 px-4">
                <mat-form-field class="w-100" >
                    <mat-label>Veuillez saisir votre réponse</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="typeQuestion==='EVALUATION'">
            <div class="container border rounded border-info px-4 py-2">
                    <mat-label>Choisissez une valeur entre 1 et 10</mat-label><br/>
                    <mat-slider class="w-100 mat-slider-horizontal" thumbLabel id="slider" step="1" min="1" max="10"></mat-slider>
            </div>
        </div>
        <div *ngIf="typeQuestion==='DATE'">
            <div class="container border rounded border-info mb-4 pb-4 pt-2 px-4">
                <mat-form-field>
                    <mat-label>Choisissez une date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <br/>
        <div class="form-group text-center">
            <button type=button (click)="onNewQuestion()" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Valider les informations
            </button>
        </div>
    </form>
    <br/>
</div>
<button class="btn btn-secondary float-right" (click)="backClicked()">Retour au questionnaire</button>
